.panel
    position: fixed
    bottom: 30px
    display: flex
    justify-content: space-between
    width: calc(100% - 60px)
    max-width: calc(500px - 60px)
    .panel__btn
        display: inline-block
        width: 70px
        height: 70px
        color: $text
        background-color: $bgcColorDarkTransparent
        border: 1px solid $mainColor    
        +doubleBorders($bgcColorDark,$mainColor) 
        border-radius: 50%
        font-family: 'Manjari', sans-serif
        text-align: center
        text-decoration: none


.panel
    .panel__btn--start

.panel
     .panel__btn--pause
         color: $bgcColorDark
         background-color: $mainColor


