
    
.scoresList
    .scoresList__ul
        width: 100%
        padding-left: 0
        .scoresList__li
            display: flex
            justify-content: space-between
            width: 100%
            list-style: none

            .scoresList__div
                color: #eee
                font-family: 'Manjari', sans-serif
                text-align: right

.scoresList
    .scoresList__div--number
        width: 30px
        text-align: left