 .scoresList
    .scoresList__ul
        margin-bottom: 230px
        width: 100%
        padding-left: 0
        .scoresList__li
            display: flex
            justify-content: space-between
            width: 100%
            list-style: none
            .scoresList__div
                color: $textScoreList
                font-family: 'Manjari', sans-serif
                text-align: right

.scoresList
    .scoresList__ul
        .scoresList__li
            &:nth-of-type(1)
                .scoresList__div
                    color: $textHighlighted

.scoresList
    .scoresList__li
        .scoresList__div
            .scoresList__div--number
                width: 30px
                text-align: left