.time
    position: fixed
    bottom: 130px
    box-sizing: border-box
    margin: 0
    width: calc(100% - 60px)
    height: 70px
    background-color: #1a1a1ae0
    border: 1px solid #0FBF9F
    box-shadow: inset 0 0 0 2px #1a1a1a, inset 0 0 0 4px #0FBF9F
    border-radius: 50px
    text-align: center
    .time__span
        position: absolute
        top: 50%
        transform: translate(-50%,  -50%)
        line-height: 70px
        color: #ccc
        font-family: 'Manjari', sans-serif
        font-size: 30px
        